html {
  font-size: 12pt;
  font-family: "Avenir", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

.max-w-prose {
    max-width: 100%;
    padding-right: 5%;
}

header img {
  transition: transform 0.3s ease;
}

header img:hover {
  animation: waddle 0.5s ease;
}

@keyframes waddle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}